<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
		Nenhuma auxiliar Cadastrada
	</div>
	<div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"></div>
	<div th:if="${not #lists.isEmpty(lista)}">
	
	<br/>		
		<br/>
		<form method="GET">
		<label>Pesquisa por nome de mocidade:</label>
		<input name="nome">
		<input class="btn btn-primary btn-sm" type="submit" value="Buscar">
		</form>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="auxiliar : ${lista}">
					<td th:text="${auxiliar.id}"></td>
					<td th:text="${auxiliar.nome}"></td>
					<td><a class="btn btn-primary btn-sm" th:href="@{/auxiliar/editar(id=${auxiliar.id})}"sec:authorize="hasAnyRole('ADMIN')">Editar</a>
					<a class="btn btn-primary btn-sm" th:href="@{/auxiliar/excluir(id=${auxiliar.id})}" onclick="return confirm('Você realmente deseja excluir esse auxiliar?')" sec:authorize="hasAnyRole('ADMIN')">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</html>